.Footer{
    height: 35vh;
    width: 100vw;
    background: #282828;
}

.Footer_list{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 112%;
    line-height: 190%;
    padding-top: 2%;
    padding-left: 9%;
    padding-right: 15.5%;
}

.Footer_list ul{
    list-style: none;
    position: relative;
    top: 50%;
}

.Footer_right{
    text-align: right;
}

.Footer_list ul li{
    cursor: pointer;
}